* {
  box-sizing: border-box;
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: 50vw;
  background-color: #858694;
  align-self: center;
}

.top {
  color: white;
  text-align: end;
  font-size: 1.5rem;
  padding: 2rem 0.5rem;
}